$color-primery: #499A18;
$color-selection: #D6E7D2;
$color-selection-active: #C1E698;
$color-additional: #E06733;
$color-bg-section:#EDF2EC;
$color-title-grey: #717171;
$color-nav: #010201;
$color-paragraph: #636060;
$color-border: #E3E1D5;

$color-dpop-default: #AEA1A1;
$color-dpop-active: #8BA07E;

