$color-primary: #499A18;
$color-selection: #D6E7D2;
$color-selection-active: #C1E698;
$color-additional: #E06733;
$color-bg-section:#EDF2EC;
$color-title-grey: #717171;
$color-nav: #010201;
$color-paragraph: #636060;
$color-border: #E3E1D5;
$color-white: #FFF;
$color-black: #000;
$color-transparent: transparent;

$color-dpop-default: #AEA1A1;
$color-dpop-active: #8BA07E;

$wrapper-width: 1440px;
$content-width: 1222px;
$tablet-width: 768px; // 668px
$mobile-width: 640px; // 330px
$mobile-min-width: 320px; // 300px