@font-face {
    font-family: 'Inika', serif;
    src: url(../../fonts/Inika/Inika-Regular.ttf);
    scr: local ('Inika'), local ('Inika-Regular'), local ('Inika Regular');
    font-weight: 400;
}

@font-face {
    font-family: 'Inika-Bold', serif;
    src: url(../../fonts/Inika/Inika-Bold.ttf);
    scr: local ('Inika Bold'), local ('Inika-Bold');
    font-weight: 700;
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url(../../fonts/Inter/Inter-Regular.ttf);
    scr: local('Inter'), local ('Inter Regular'), local ('Inter-Regular');
    font-weight: 400;
}

@font-face {
    font-family: 'Inter-Bold', sans-serif;
    src: url(../../fonts/Inter/Inter-Bold.ttf);
    scr: local ('Inter Bold'), local ('Inter-Bold');
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    @extend %font-primary;
}

// h1 {
//     @include font (1.6rem, 1.31, 400);
//     @extend %font-add;
// }

// h2 {
//     @extend %font-primary;
//     @include font (4.5rem, 1.11, 700);
// }

// h3 {
//     @extend %font-add;
//     @include font (4rem, 1.13, 400);
// }