.round-btn {
    width: 15.8rem;
    height: 4.4rem;
    text-transform: uppercase;
    color: $color-black;
    background-color: $color-transparent;
    border: 2px solid $color-additional;
    border-radius: 1rem;
    padding: auto 2.6rem;
    @extend %transition;
    @extend %font-primary;
    @include font(1.6rem, 1.3, 400);

    &:hover {
        color: $color-white;
        background-color: $color-additional;
        cursor: pointer;
    }
    @include madia-mobile {
        @include font (1rem, 1, 400);
        width: 10rem;
        height: 3.4rem;
    }
}

.service-buttons__btn,
.price-contactus__btn {
    width: 16.1rem;
    height: 5rem;
    color: $color-additional;
    background-color: $color-transparent;
    border: 1px solid $color-additional;
    border-radius: 0.5rem;
    @extend %transition;
    @extend %font-add;
    @include font(2rem, 1.3, 400);

    &:hover {
        color: $color-white;
        background-color: $color-additional;
        cursor: pointer;
    }
    @include madia-mobile {
        @include font (1.5rem, 1.3, 400);
        width: 12.1rem;
        height: 3.5rem;
    }
}

.price-options__btm {
    width: 8.6rem;
    height: 2.5rem;
    padding: 0.3rem 2rem;
    border: 1px solid $color-white;
    border-radius: 1rem;
    background-color: $color-white;
    color: $color-title-grey;
    @extend %transition;
    @extend %font-primary;
    @include font(1.4rem, 1, 700);

 }
 
 .price-options__btm:hover{
    border: 1px solid $color-primary;
  background-color: $color-primary;
  color: $color-white;
  cursor: pointer;
}

.active{
    color: $color-white;
    background-color: $color-additional;
    cursor: pointer;
}

.block{
    color: $color-title-grey;
    background-color: $color-white;
   
}
.block:hover{
    color: $color-title-grey;
    background-color: $color-white;
    cursor:default
}