.contacts {
    background: $color-bg-section;
}

.contacts__title {
    @extend %font-add;
    @include font (4rem, 1.13, 700);
    color: $color-primary;
    position: relative;
    top: 0.8rem;
    left: 2.2rem;

    @include madia-tablet {
        order: 1;
        top: 0;
        left: 0;
    }

    @include madia-mobile {
        margin-right: 5px;
        @include font (2.5rem, 1.13, 700);
    }

}

.layout-3-col {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 5.3rem;

    @include madia-tablet {
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 4.2rem;
    }

    @include madia-mobile {
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 2.8rem;
    }
}

.contact-dropdown {
    width: 45rem;
    height: 5rem;
    background-color: $color-selection;
    box-sizing: border-box;
    margin-top: 9.5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.1rem;
    @extend %long-transition;

    .price-options__item-icon {
        color: $color-white;
        background-color: $color-dpop-default;
    }

    @include madia-tablet {
        margin-top: 10.5rem;
    }
    @include madia-mobile {
        width: 30rem;
        margin-top: 8.3rem;
    }
}

.contact-dropdown:hover {
    background-color: $color-selection-active;
    box-shadow: none;

    .contact-dropdown__options {
        position: absolute;
        background-color: $color-selection;
        min-width: 45rem;
        padding: 2.7rem 3.5rem 3.1rem 3.5rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        @include madia-mobile{
            min-width: 30rem;
        }
    }

    .price-options__item-icon {
        background-color: $color-dpop-active;
        color: $color-white;
    }

    .price-options__item-arrow {
        font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 400;
        font-size: 1.2rem;
        color: $color-white;
        transform: rotate(90deg);
        right: -1px;
    }
}

.contact-city {
    width: 45rem;
    height: 5rem;
    padding: 0.5rem 3.5rem 0.5rem 2rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-title-grey;
    font-size: 2rem;
    line-height: 2;
    @extend %transition;

    @include madia-mobile{
     width: 30rem;
     padding: 0.5rem 2rem 0.5rem 2rem;
     margin-right: 2px;
    }
}

.contact-dropdown__options {
    display: none;
    @extend %transition;
}

.contact-dpopdown__item::after {
    display: block;
    content: "";
    position: relative;
    width: 100%;
    height: 1px;
    background-color: #D9D9D9;
    top: -6px;
}

.contact-dpopdown__item {
    text-decoration: none;
    color: $color-primary;
    font-size: 1.6rem;
    line-height: 2.5;
    // margin-top: 12px;
}

.contact-dpopdown__item:hover {
    color: $color-title-grey;
}

.contact-dpopdown__item:hover::after {
    background-color: $color-title-grey;
}

.contacts__img {
    @include madia-tablet {
        width: 30%;
        margin-top: 24.8rem;
        margin-left: 2rem;
    }
    @include madia-mobile {
        width: 30%;
        margin-top: 13.2rem;
        margin-left: 0;
    }
}