.contacts {
    background: $color-bg-section;
}

.contacts__title {
    @extend %font-add;
    @include font (4rem, 1.13, 700);
    color: $color-primary;
    position: relative;
    top: 0.8rem;
    left: 2.2rem;

    @include madia-laptop {
        order: 1;
        top: 0;
        left: 0;
    }

    @include madia-tablet {
        order: 1;
        top: 0;
        left: 0;
    }

    @include madia-mobile {
        margin-right: 5px;
        @include font (2.5rem, 1.13, 700);
    }
}

.layout-3-col {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 5.3rem;

    @include madia-laptop {
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 4.2rem;
    }

    @include madia-tablet {
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 4.2rem;
    }

    @include madia-mobile {
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 2.8rem;
    }
}

.contact-dropdown {
    width: 45rem;
    height: 5rem;
    background-color: $color-selection;
    box-sizing: border-box;
    margin-top: 9.5rem;
    font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.1rem;
    @extend %long-transition;

    .contact-options__item-icon {
        color: $color-white;
        background-color: $color-dpop-default;
    }

    @include madia-tablet {
        margin-top: 10.5rem;
    }

    @include madia-mobile {
        width: 30rem;
        margin-top: 8.3rem;
    }
}

.contact-dropdown__options {
    display: none;
    @extend %transition;
}

.contact-city:hover {
    background-color: $color-selection-active;
    box-shadow: none;

    .contact-options__item-icon {
        background-color: $color-dpop-active;
        color: $color-white;
    }

    .contact-options__item-arrow {
        font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 400;
        font-size: 1.2rem;
        color: $color-white;
        transform: rotate(90deg);
        right: -1px;
    }
}

.drop_activ {
    display: flex;
    flex-direction: column;
}

.city_activ {
    background-color: $color-selection-active;
    box-shadow: none;
}
.arrow_activ{
    font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: $color-white;
    transform: rotate(90deg);
    right: -1px;
}
.icon_activ{
    background-color: $color-dpop-active;
    color: $color-white;
}

.contact-dropdown__options {
    position: absolute;
    background-color: $color-selection;
    min-width: 45rem;
    padding: 2.7rem 3.5rem 3.1rem 3.5rem;
    box-sizing: border-box;

    gap: 1.2rem;

    @include madia-mobile {
        min-width: 30rem;
    }
}

.contact-city {
    width: 45rem;
    height: 5rem;
    padding: 0.5rem 3.5rem 0.5rem 2rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-title-grey;
    font-size: 2rem;
    line-height: 2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    @extend %transition;

    @include madia-mobile {
        width: 30rem;
        padding: 0.5rem 2rem 0.5rem 2rem;
        margin-right: 2px;
    }
}
.contact-options__item-icon{
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;

    background-color: #D9D9D9;
}
.contact-options__item-arrow {
    font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: $color-title-grey;
    transform: rotate(-90deg) translate(-6%, -6%);
    position: relative;
}

.contact-dpopdown__item::after {
    display: block;
    content: "";
    position: relative;
    width: 100%;
    height: 1px;
    background-color: #D9D9D9;
    top: -6px;
}
.contact-list{
    list-style: none;
    color: $color-primary;
    font-size: 1.6rem;
    line-height: 2.5;
    cursor: pointer;
}
.contact-dpopdown__item {
    text-decoration: none;
    color: $color-primary;
}

.contact-dpopdown__item:hover {
    color: $color-title-grey;
}

.contact-dpopdown__item:hover::after {
    background-color: $color-title-grey;
}

.contacts__img {
    @include madia-tablet {
        width: 30%;
        margin-top: 24.8rem;
        margin-left: 2rem;
    }

    @include madia-mobile {
        width: 30%;
        margin-top: 13.2rem;
        margin-left: 0;
    }
}

.contact-form {
    display: none;
    padding: 3.3rem;
    border: 1.5px solid $color-black;
    border-radius: 2rem;
    margin-top: 4.7rem;
    text-align: center;
    // opacity: 0;
}

.contact-form__wrapper {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    text-align: left;
}

.contact-callus {
    display: inline-block;
    padding: 0.7rem 2.9rem;
    background-color: transparent;
    border-radius: 5px;
    border: 1.5px solid $color-additional;
    text-decoration: none;
    color: $color-title-grey;
    margin-top: 2.7rem;
    text-align: center;
    font-family: 'Inika', serif;
    @include font(1rem, 1, 700);

}

.contact__lables-box,
.contact__data-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @include font(1.6rem, 1.3, 400);
    letter-spacing: 0.8px;

}

.contact__data-box {
    color: $color-title-grey;
}
.contact-form-active{
    display: flex;
}
