.contacts {
    background: $color-bg-section;
}
.contacts__title{
    color: $color-primary;
}
.layout-3-col {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 60px;
}

.contact-dropdown {
    width: 450px;
    height: 50px;
    background-color: $color-selection;
    box-sizing: border-box;
    margin-top: 90px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Inter",Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.1rem;
    transition: all 0.3s ease-out;
    .price-options__item-icon {
        color: $color-white;
        background-color: $color-dpop-default;
    }
}
.contact-dropdown:hover{
    background-color: $color-selection-active;
    box-shadow: none;
    .contact-dropdown__options {
        position: absolute;
        background-color: $color-selection;
        min-width: 450px;
        padding: 27px 35px 31px 35px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .price-options__item-icon {
        background-color: $color-dpop-active;
        color: $color-white;
    }
    .price-options__item-arrow{
        font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: $color-white;
        transform: rotate(90deg);
        right: -1px;
    }
}

.contact-city {
    width: 450px;
    height: 50px;
    padding: 5px 35px 5px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-title-grey;
    font-size: 2rem;
    line-height: 2;
    transition: all 0.3s ease-out;
}

.contact-dropdown__options {
    display: none;
    transition: all 0.3s ease-out;
}

.contact-dpopdown__item::after{
    display: block;
    content: "";
    position: relative;
    width: 100%;
    height: 1px;
    background-color: #D9D9D9;
    top: -6px; 
}
.contact-dpopdown__item {
    text-decoration: none;
    color: $color-primary;
    font-size: 1.6rem;
    line-height: 2.5;
   // margin-top: 12px;
}
.contact-dpopdown__item:hover{
    color: $color-title-grey;
}
.contact-dpopdown__item:hover::after{
    background-color: $color-title-grey;
}