
.header-nav__link {
    text-decoration: none;
    color: $color-nav;
    text-transform: capitalize;
    @extend %transition;
    @extend %font-add;
    @include font(1.6rem, 3.125, 400);

    &:hover {
        cursor: pointer;
        color: $color-additional;
    }
    @include madia-mobile{
    @include font(2rem, 2, 400);
    padding: 1rem;
    }
}

.header-nav__link.active {
    color: $color-additional;
    cursor: default;
}