.price-wrapper.layout-2-col{
    align-items: flex-start;
}
.price-options__title {
    font-size: 4rem;
    line-height: 1.2;
    margin: 0 0 60px 0;
}

.price-contactus__accent {
    color: $color-primary;
}

.price-contactus__title {
    font-family: 4rem;
    line-height: 1.25;
    text-align: end;
    margin: 0;
}
.price-contactus__img{
    width: 152px;
    height: 175px;
}
.price-contactus{
    display: flex;
    flex-direction: column;
    align-items:  flex-end;
    gap: 38px;
}
.price-options-list{
    display: flex;
    flex-direction: column;
    border: 1px solid $color-border;
    border-radius: 20px;
    padding: 41px 34px;
    gap: 32px;
}
.price-options__items{
    background-color: $color-bg-section;
    padding: 16px 40px;
    border-radius: 20px;
    width: 250px;
    box-sizing: border-box;

}
.price-options__item-name {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    font-family: 'Inter-Bold', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1;

 }
.price-options__item-name::-webkit-details-marker {
   list-style: none;
}
.price-options__item-icon{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.price-options__item-arrow{
    font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: $color-title-grey;
    transform: rotate(-90deg);
    position: relative;
    right: 1px;
}
.price-options__content::before {
    content: "";
    width: 95%;
    height: 1px;
    background-color: $color-dpop-default;
    position: relative;
    top: 12px;
    display: block;
 }
.price-options__text{
    color: $color-title-grey;
    font-size: 1rem;
    line-height: 1;
    margin: 20px 0;
}
.price-options__cost{
    color: $color-black;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    line-height: 1.66;
    margin-bottom: 12px;
}
.price-options__cost-accent{
    color: $color-additional;
    font-family: 'Inter-Bold', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.25;
}
.price-options__items[open]{
    background-color: $color-selection;
    .price-options__item-icon{
        background-color: $color-dpop-default;
    }
    .price-options__item-arrow{
        font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: $color-white;
        transform: rotate(90deg);
        right: -1px;
    }
}