.price-wrapper.layout-2-col {
    align-items: flex-start;
    padding: 4rem 0 10.2rem 0;

    @include madia-tablet {
        padding: 4rem 0 7.5rem 0;
    }

    @include madia-mobile {
        padding: 2.5rem 0 4rem 0;
        flex-direction: column;
        align-items: center;
    }
}

.price-options__title {
    font-size: 4rem;
    line-height: 1.4;
    margin: 0 0 6rem 0;

    @include madia-tablet {
        font-size: 3.5rem;
        margin-left: 1.2rem;
        margin-bottom: 5.4rem;
        line-height: 1.3;
    }

    @include madia-mobile {
        font-size: 2.5rem;
        text-align: center;
        margin-right: 1.2rem;
        margin: 0 0 3.6rem 0;
        line-height: 1.2;
    }
}

.price-contactus__accent {
    color: $color-primary;
}

.price-contactus__title {
    font-size: 4rem;
    line-height: 1.25;
    text-align: end;
    margin: 0;

    @include madia-tablet {
        font-size: 2.5rem;
        margin-top: 10.3rem;
        line-height: 1.35;
    }

    @include madia-mobile {
        font-size: 2rem;
        margin-top: 2rem;
        line-height: 1.7;
        text-align: center;
    }
}

.price-contactus__img {
    width: 37%;
    position: relative;
    top: -0.5rem;
    left: 1rem;

    @include madia-tablet {
        width: 60%;
        bottom: 5px;
    }

    @include madia-mobile {
        display: none;
    }

}

.price-contactus {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4rem;

    @include madia-tablet {
        gap: 3rem;
    }

    @include madia-mobile {
        gap: 2.2rem;
        align-items: center;
    }
}

.price-options-list {
    display: flex;
    flex-direction: column;
    border: 1px solid $color-border;
    border-radius: 2rem;
    padding: 3.4rem 4rem;
    gap: 3rem;

    @include madia-tablet {
        padding: 3.2rem 4rem;
    }

    @include madia-mobile {
        padding: 2.9rem 2.1rem;
        gap: 1.6rem;
        align-items: center;
    }
}

.price-options__items {
    background-color: $color-bg-section;
    padding: 1.6rem 4rem;
    border-radius: 2rem;
    width: 25rem;
    cursor: pointer;

    @include madia-mobile {
        width: 18rem;
        padding: 1.6rem 4rem 1.6rem 3rem;
    }
}

.price-options__item-name {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    font-family: 'Inter-Bold', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1;

    @include madia-mobile {
        font-size: 1.6rem;
    }

}

.price-options__item-name::-webkit-details-marker {
    list-style: none;
}

.price-options__item-icon {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price-options__item-arrow {
    font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: $color-title-grey;
    transform: rotate(-90deg);
    position: relative;
    right: 1px;
}

.price-options__content::before {
    content: "";
    width: 95%;
    height: 1px;
    background-color: $color-dpop-default;
    position: relative;
    top: 1.2rem;
    display: block;
}

.price-options__text {
    color: $color-title-grey;
    font-size: 1rem;
    line-height: 1;
    margin: 2rem 0;
}

.price-options__cost {
    color: $color-black;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    line-height: 1.66;
    margin-bottom: 1.2rem;
}

.price-options__cost-accent {
    color: $color-additional;
    font-family: 'Inter-Bold', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.25;
}

.price-options__items[open] {
    background-color: $color-selection;

    .price-options__item-icon {
        background-color: $color-dpop-default;
    }

    .price-options__item-arrow {
        font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 400;
        font-size: 1.2rem;
        color: $color-white;
        transform: rotate(90deg);
        right: -1px;
    }
}