html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Inika", serif;
  src: url(../../fonts/Inika/Inika-Regular.ttf);
  scr: local "Inika", local "Inika-Regular", local "Inika Regular";
  font-weight: 400;
}
@font-face {
  font-family: "Inika-Bold", serif;
  src: url(../../fonts/Inika/Inika-Bold.ttf);
  scr: local "Inika Bold", local "Inika-Bold";
  font-weight: 700;
}
@font-face {
  font-family: "Inter", sans-serif;
  src: url(../../fonts/Inter/Inter-Regular.ttf);
  scr: local("Inter"), local "Inter Regular", local "Inter-Regular";
  font-weight: 400;
}
@font-face {
  font-family: "Inter-Bold", sans-serif;
  src: url(../../fonts/Inter/Inter-Bold.ttf);
  scr: local "Inter Bold", local "Inter-Bold";
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.31;
  margin: 0;
}

h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 1.11;
  margin: 0;
}

h3 {
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  line-height: 1.3;
  margin: 0;
}

.round-btn {
  width: 15.8rem;
  height: 4.4rem;
  font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  line-height: 1.3;
  color: #000;
  background-color: transparent;
  border: 2px solid #E06733;
  border-radius: 1rem;
  padding: auto 2.6rem;
  transition: all 0.5s;
}

.round-btn:hover {
  color: #FFF;
  background-color: #E06733;
  cursor: pointer;
}

.service-buttons__btn, .price-contactus__btn {
  width: 16.1rem;
  height: 5rem;
  font-family: "Inika", "Times New Roman", Times, serif;
  font-size: 2rem;
  line-height: 1.3;
  color: #E06733;
  background-color: transparent;
  border: 1px solid #E06733;
  border-radius: 0.5rem;
  transition: all 0.5s;
}

.service-buttons__btn:hover, .price-contactus__btn:hover {
  color: #FFF;
  background-color: #E06733;
  cursor: pointer;
}

.price-options__btm {
  width: 8.6rem;
  height: 2.5rem;
  padding: 0.3rem 2rem;
  border: 1px solid #FFF;
  border-radius: 1rem;
  background-color: #FFF;
  font-family: "Inter-Bold", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.42;
  color: #717171;
}

.wrapper {
  max-width: 1222px;
  margin: 0 auto;
}

.header-logo__img {
  background-image: url(../img/logo_vector.svg);
  display: block;
  width: 2.2rem;
  height: 2.2rem;
  position: relative;
  bottom: 5px;
}

.header-logo__link {
  text-decoration: none;
  color: black;
}

.bg-wrapper {
  background: #EDF2EC;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.2rem 0 3.8rem 0;
}

.header-nav {
  display: flex;
  gap: 4.6rem;
}

.header-nav__item {
  list-style: none;
}

.header-nav__link {
  text-decoration: none;
  color: #010201;
  text-transform: capitalize;
  font-family: "Inika", serif;
  font-size: 1.6rem;
  line-height: 3.125;
  transition: 0.5s;
}

.header-nav__link:hover {
  cursor: pointer;
  color: #E06733;
}

.header-nav__link.active {
  color: #E06733;
  cursor: default;
}

.wrapper-footer {
  font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 0 4rem 0;
  color: #000;
}
.wrapper-footer a {
  text-decoration: none;
  color: #000;
}

.footer__date {
  display: flex;
  gap: 2rem;
  margin-right: 1.2rem;
}

.footer-sm {
  display: flex;
  gap: 2.8rem;
  align-items: center;
}

.footer-sm__icon {
  transition: 0.3s;
}

.footer-sm__icon:hover {
  transform: scale(1.1);
}

.instagram {
  display: block;
  width: 2.8rem;
  height: 2.8rem;
  background-image: url(../img/Vector1.svg);
}

.facebook {
  display: block;
  width: 1.7rem;
  height: 2.8rem;
  background-image: url(../img/Vector.svg);
}

.twitter {
  display: block;
  width: 2.8rem;
  height: 2.2rem;
  background-image: url(../img/Vector3.svg);
}

.pinterest {
  display: block;
  width: 2.8rem;
  height: 2.8rem;
  background-image: url(../img/Vector2.svg);
}

.contacts {
  background: #EDF2EC;
}

.contacts__title {
  color: #499A18;
  position: relative;
  top: 0.8rem;
  left: 2.2rem;
}

.layout-3-col {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 5.3rem;
}

.contact-dropdown {
  width: 45rem;
  height: 5rem;
  background-color: #D6E7D2;
  box-sizing: border-box;
  margin-top: 9.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.1rem;
  transition: all 0.3s ease-out;
}
.contact-dropdown .price-options__item-icon {
  color: #FFF;
  background-color: #AEA1A1;
}

.contact-dropdown:hover {
  background-color: #C1E698;
  box-shadow: none;
}
.contact-dropdown:hover .contact-dropdown__options {
  position: absolute;
  background-color: #D6E7D2;
  min-width: 45rem;
  padding: 2.7rem 3.5rem 3.1rem 3.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.contact-dropdown:hover .price-options__item-icon {
  background-color: #8BA07E;
  color: #FFF;
}
.contact-dropdown:hover .price-options__item-arrow {
  font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #FFF;
  transform: rotate(90deg);
  right: -1px;
}

.contact-city {
  width: 45rem;
  height: 5rem;
  padding: 0.5rem 3.5rem 0.5rem 2rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #717171;
  font-size: 2rem;
  line-height: 2;
  transition: all 0.3s ease-out;
}

.contact-dropdown__options {
  display: none;
  transition: all 0.3s ease-out;
}

.contact-dpopdown__item::after {
  display: block;
  content: "";
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #D9D9D9;
  top: -6px;
}

.contact-dpopdown__item {
  text-decoration: none;
  color: #499A18;
  font-size: 1.6rem;
  line-height: 2.5;
}

.contact-dpopdown__item:hover {
  color: #717171;
}

.contact-dpopdown__item:hover::after {
  background-color: #717171;
}

.layout-2-col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 0 5.5rem 0;
}

.welcome {
  background-color: #EDF2EC;
}

.welcome-img {
  width: 37.5%;
}

.welcome-content {
  width: 54.9rem;
}

.welcome-content__title {
  color: #717171;
}

.welcome-content__accent {
  color: #499A18;
}

.welcome-content__text {
  color: #636060;
  font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  line-height: 1.75;
  margin: 4.3rem 0 5rem;
}

.layout-2-col.about-wrapper {
  padding: 9.6rem 0 9.3rem 0;
}

.about-content {
  height: 35rem;
  max-width: 60.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4rem;
}

.about-content__title {
  color: #499A18;
  font-family: "Inika", "Times New Roman", Times, serif;
  font-size: 4rem;
  line-height: 1.3;
}

.about-content__accent {
  color: #E06733;
}

.about-content__text {
  font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  color: #636060;
}

.about-img {
  width: 37.8%;
}

.service {
  background: #EDF2EC;
}

.service-choice__title {
  color: #499A18;
  font-family: "Inika", "Times New Roman", Times, serif;
  font-size: 4rem;
  line-height: 1.3;
  margin-right: 15.9rem;
}

.service-choice {
  padding: 4rem 0 8rem 0;
  display: flex;
  align-items: center;
}

.service-buttons {
  display: flex;
  gap: 3.8rem;
  margin-top: 4px;
}

.service-cart {
  width: 33rem;
  height: 45rem;
  margin-bottom: 5.5rem;
}

.service-cart__img {
  width: 33rem;
  height: 35rem;
}

.service-cart__img img {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  overflow: hidden;
}

.service-cart__content {
  border: 1px solid #E3E1D5;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-cart__title {
  color: #E06733;
  line-height: 1;
  font-size: 2rem;
  margin: 1rem 0 1.3rem;
}

.service-cart__text {
  color: #717171;
  font-size: 1.6rem;
  line-height: 1.25;
  margin: 0;
  margin-bottom: 3.6rem;
}

.service-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 6.5rem;
}

.price-wrapper.layout-2-col {
  align-items: flex-start;
  padding: 4rem 0 10.2rem 0;
}

.price-options__title {
  font-size: 4rem;
  line-height: 1.2;
  margin: 0 0 6rem 0;
}

.price-contactus__accent {
  color: #499A18;
}

.price-contactus__title {
  font-size: 4rem;
  line-height: 1.25;
  text-align: end;
  margin: 0;
}

.price-contactus__img {
  width: 37%;
  position: relative;
  top: -0.5rem;
  left: 1rem;
}

.price-contactus {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4rem;
}

.price-options-list {
  display: flex;
  flex-direction: column;
  border: 1px solid #E3E1D5;
  border-radius: 2rem;
  padding: 3.4rem 4rem;
  gap: 3rem;
}

.price-options__items {
  background-color: #EDF2EC;
  padding: 1.6rem 4rem;
  border-radius: 2rem;
  width: 25rem;
  cursor: pointer;
}

.price-options__item-name {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-family: "Inter-Bold", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
}

.price-options__item-name::-webkit-details-marker {
  list-style: none;
}

.price-options__item-icon {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background-color: #D9D9D9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.price-options__item-arrow {
  font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #717171;
  transform: rotate(-90deg);
  position: relative;
  right: 1px;
}

.price-options__content::before {
  content: "";
  width: 95%;
  height: 1px;
  background-color: #AEA1A1;
  position: relative;
  top: 1.2rem;
  display: block;
}

.price-options__text {
  color: #717171;
  font-size: 1rem;
  line-height: 1;
  margin: 2rem 0;
}

.price-options__cost {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  line-height: 1.66;
  margin-bottom: 1.2rem;
}

.price-options__cost-accent {
  color: #E06733;
  font-family: "Inter-Bold", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.25;
}

.price-options__items[open] {
  background-color: #D6E7D2;
}
.price-options__items[open] .price-options__item-icon {
  background-color: #AEA1A1;
}
.price-options__items[open] .price-options__item-arrow {
  font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #FFF;
  transform: rotate(90deg);
  right: -1px;
}/*# sourceMappingURL=style.css.map */