.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4.2rem 0 4rem 0;

    @include madia-tablet {
        padding: 3.5rem 0 1.5rem 0;
    }

    @include madia-mobile {
        padding: 3.8rem 0 1.5rem 0;
    }

    @include madia-mobile-min {
        padding: 3rem 0 1.5rem 0;
    }
}

.header-logo__img {
    background-image: url(../img/logo_vector.svg);
    display: block;
    width: 2.2rem;
    height: 2.2rem;
    position: relative;
    bottom: 5px;
}

.header-logo__link {
    text-decoration: none;
    color: black;
}

.header-logo__title {
    @include font(1.6rem, 1.31, 400);
    @extend %font-add;
}

.bg-wrapper {
    background: $color-bg-section;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    gap: 4.6rem;

    @include madia-mobile {
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;
        display: flex;
        justify-content: flex-start;
        margin: 0 auto;
    }
}

.header-nav__item {
    list-style: none;
}